@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,500,700,900&display=swap");

/* Global values start */
* {
  margin: 0;
  padding: 0;
  --color-grey: grey;
  --color-light-grey: rgb(231, 231, 231);
  --color-dark-orange: rgb(235, 127, 3);
  --color-light-orange: rgb(255, 172, 77);
  --color-light-yellow: rgb(223, 221, 203);
  --color-background-sand: rgb(223, 221, 203);
  --color-background-white: white;
  --global-margin-left-right: 20%;
  --category-border-radius: 0.5rem;
  box-sizing: border-box;
  --hover-shadow: 0px 0px 50px 15px rgba(204, 129, 0, 0.2);
}

html,
body {
  overflow-x: hidden;
  font-family: "Roboto", Helvetica, sans-serif;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin buttonLarge {
  padding: 0.9rem 2.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  border: 1px solid transparent;
}

.background-styling {
  background-color: var(--color-background-sand);
  background-color: rgb(241, 237, 234);
  display: flex;
  justify-content: center;
}

.container {
  width: calc(100% - var(--global-margin-left-right) * 2);
  @include flexCenter();
  flex-direction: column;
}

img {
  display: block;
}
a {
  text-decoration: none;
  color: black;
}

p {
  color: var(--color-grey);
  pointer-events: none;
}

ul {
  list-style-type: none;
}

.button-blue {
  background-color: blue;
}

.button-red {
  background-color: red;
}

.button-green {
  background-color: green;
}

.button-orange {
  background-color: var(--color-light-orange);
}
.button-cyan {
  background-color: rgb(35, 179, 179);
}

.website-logo {
  @include flexCenter();
  height: 4rem;
  width: 9rem;
  background-color: rgb(34, 34, 34);
  border-radius: 0 0 0.7rem 0.7rem;
  font-size: 1.5rem;
  cursor: pointer;
  a {
    color: white;
  }
}

.website-logo .text-colored {
  color: var(--color-light-orange);
}
/* Global values end */

/* Main section start*/
/* Header start */
.header {
  position: relative;
  display: flex;
  align-items: center;
}

.header {
  .container {
    z-index: 1;
  }
}

.header {
  display: flex;
  justify-content: flex-start;
  .header-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    border-bottom-left-radius: 3rem;
    box-shadow: 0px 0px 65px 30px rgba(184, 110, 0, 0.2);
    overflow: hidden;
    background-position: center;
  }
  .background-container {
    position: relative;
    width: 100%;
    background-image: url(../images/background.webp);
    background-position: center;
    background-size: cover;
    height: 57rem;
  }
  /* Navbar start */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - var(--global-margin-left-right));
    margin-left: var(--global-margin-left-right);
    z-index: 1;
    height: 4rem;
    .navbar-categories {
      @include flexCenter();
      justify-content: space-between;
      width: 40%;
      height: 100%;
      .navbar-category {
        @include flexCenter();
        height: 100%;
      }
    }
  }
  .burger-icon {
    display: none;
  }
}

/* Account menu start */
.menu-account {
  @include flexCenter();
  justify-content: space-between;
  width: 40%;
  height: 100%;
  background-color: var(--color-light-yellow);
  border-bottom-left-radius: 1.5rem;
  font-size: 0.9rem;
  height: 4rem;
  .control-account {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .button-account {
      @include flexCenter();
      margin-left: 1rem;
      cursor: pointer;
      .icon-account {
        color: var(--color-grey);
        margin-right: 0.6rem;
        font-size: 1.4rem;
      }
    }
    .button-signup {
      @include flexCenter();
      color: var(--color-light-orange);
      background-color: black;
      padding: 0.5rem 1rem;
      height: 2rem;
      border-radius: 1rem;
      margin-left: 1rem;
      cursor: pointer;
    }
  }
  .contact-info {
    @include flexCenter();
    justify-content: flex-end;
    width: 65%;
    margin-right: 1rem;
    .call-us {
      display: none;
    }
    .phone-number {
      @include flexCenter();
    }
    .icon-phone {
      font-size: 1.5rem;
      margin-right: 0.5rem;
      .work-time {
        color: var(--color-grey);
      }
    }
    .phone-number,
    .work-time {
      font-size: 0.9rem;
    }
    .phone-number {
      margin-right: 1rem;
    }
  }
}
/* Account menu end */

/* Sidebar start */
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 0;
  width: 10%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .social-media {
    .social-media-icons {
      .icon {
        margin: 0.5rem 0;
        cursor: pointer;
      }
    }
    .social-media-text {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      height: 5rem;
      display: flex;
      justify-content: center;
      color: var(--color-grey);
      cursor: default;
    }
  }
}

.languages-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 3.5rem;
  cursor: pointer;
  .language-icons {
    border: 2px solid transparent;
    .language-icon {
      display: none;
      width: 2.4rem;
      border-radius: 1.2rem;
      padding: 0.2rem;
    }
    .icon-active {
      display: block;
    }
  }
  .arrow-icon {
    color: var(--color-grey);
  }
}

.languages-bar:hover {
  .language-icons {
    border: 2px solid grey;
    border-radius: 1.5rem;
    .language-icon {
      display: block;
    }
  }
  .arrow-icon {
    display: none;
  }
}
/* Sidebar end */
/* Navbar end */

/* Job board start */
.welcome-senction {
  display: flex;
  justify-content: center;
  .container {
    z-index: 1;
  }
}

.job-board {
  margin-top: 10rem;
  width: 100%;
  h1 {
    color: white;
    font-size: 5rem;
    line-height: 4.6rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    pointer-events: none;
  }
  h2 {
    color: black;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .job-board-help {
    display: flex;
    align-items: center;
    .button-how-it-works {
      @include buttonLarge();
      color: white;
      background-color: black;
      margin-right: 2rem;
    }
    .browse {
      display: flex;
      cursor: pointer;
      color: white;
      .text {
        margin-right: 0.5rem;
        border-bottom: 1px solid white;
      }
    }
  }
}
/* Job board end */

/* Search bar start */
.search-bar-section {
  display: flex;
  justify-content: center;
  z-index: 6;
  .container {
    z-index: 4;
  }
}

.search-bar {
  margin-top: 15rem;
  width: 100%;
  .search-bar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search-categories {
      display: flex;
      .search-job,
      .search-candidate {
        @include flexCenter();
        height: 3rem;
        width: 10rem;
        background-color: white;
        border-radius: 0.5rem 0.5rem 0 0;
        margin-right: 0.2rem;
        font-size: 0.9rem;
      }
      .search-candidate {
        background-color: var(--color-dark-orange);
        color: white;
        cursor: pointer;
      }
      .search-job {
        border-top: 2px solid var(--color-dark-orange);
        pointer-events: none;
      }
    }
    .suggestions {
      font-size: 0.8rem;
      color: white;
      .category {
        color: black;
        border-bottom: 1px solid black;
        cursor: pointer;
      }
    }
  }
  .search-settings-box {
    @include flexCenter();
    background-color: white;
    padding: 2rem 0;
    width: 100%;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    .search-settings {
      width: 95%;
      .search-input {
        @include flexCenter();
        align-items: flex-start;
        .input-keywords {
          width: 25%;
          margin-right: 0.2rem;
          .text-field {
            @include flexCenter();
            height: 3rem;
            width: 100%;
            color: black;
            border: none;
            box-shadow: 0px 0px 18px 9px rgba(0, 0, 0, 0.05);
            padding-left: 1rem;
            font-size: 1.2rem;
          }
          .text-field-label {
            background-color: transparent;
            display: flex;
            align-items: center;
            color: var(--color-grey);
            font-size: 0.6rem;
            margin-top: 1rem;
          }
        }
        .input-specialization,
        .input-location {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 3rem;
          width: 30%;
          background-color: var(--color-light-grey);
          color: grey;
          padding: 0 1rem;
          margin-right: 0.2rem;
          cursor: pointer;
        }
        .input-specialization-section {
          @include flexCenter();
          flex-direction: column;
          align-items: flex-start;
          width: 30%;
          .search-specialization-sidenote {
            @include flexCenter();
            color: var(--color-grey);
            font-size: 0.6rem;
            margin-top: 1rem;
          }
        }
        .input-specialization {
          width: 99%;
          position: relative;
          .specialization-list {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 3rem;
            left: 0;
            width: 100%;
            visibility: hidden;
            .specialization {
              @include flexCenter();
              justify-content: flex-start;
              height: 3rem;
              background-color: var(--color-light-grey);
              color: grey;
              padding: 0 1rem;
              cursor: pointer;
              z-index: 4;
            }
          }
        }
        .input-location {
          position: relative;
          .location-list {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 3rem;
            left: 0;
            width: 100%;
            visibility: hidden;
            .location {
              @include flexCenter();
              justify-content: flex-start;
              height: 3rem;
              background-color: var(--color-light-grey);
              color: grey;
              padding: 0 1rem;
              cursor: pointer;
              z-index: 4;
            }
          }
        }
        .search-button {
          @include flexCenter();
          background-color: green;
          height: 3rem;
          width: 20%;
          border-radius: 0 0.5rem 0.5rem 0;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

.category-browsing-header {
  @include flexCenter();
  margin: 5rem 0;
  flex-direction: column;
  h1 {
    text-align: center;
  }
  p {
    color: var(--color-grey);
    margin-top: 1rem;
  }
}
/* Search bar end */
/* Header end */

/* Job categories start */
.job-categories-section {
  align-items: center;
  background-color: var(--color-background-white);
  .job-categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25rem;
    flex-wrap: wrap;
    background-color: lightgray;
    margin: 3rem 0;
    .job-category {
      width: 24.7%;
      height: 49.5%;
      @include flexCenter();
      flex-direction: column;
      background-color: white;
      margin-bottom: 5px;
      cursor: pointer;
      position: relative;
      h4 {
        margin: 0.5rem 0;
      }
      p {
        color: var(--color-grey);
      }
      .icon {
        color: var(--color-light-orange);
        font-size: 4rem;
      }
      .icon,
      h4,
      p {
        z-index: 1;
      }
      .icon-hover {
        font-size: 9vw;
        position: absolute;
        opacity: 0.04;
        z-index: 0;
        display: none;
      }
    }
    .category1 {
      border-radius: 0 0 var(--category-border-radius) 0;
    }
    .category2 {
      border-radius: 0 0 var(--category-border-radius) var(--category-border-radius);
    }
    .category3 {
      border-radius: 0 0 var(--category-border-radius) var(--category-border-radius);
    }
    .category4 {
      border-radius: 0 0 0 var(--category-border-radius);
    }
    .category5 {
      border-radius: 0 var(--category-border-radius) 0 0;
    }
    .category6 {
      border-radius: var(--category-border-radius) var(--category-border-radius) 0 0;
    }
    .category7 {
      border-radius: var(--category-border-radius) var(--category-border-radius) 0 0;
    }
    .category8 {
      border-radius: var(--category-border-radius) 0 0 0;
    }
  }
  .button-browse {
    @include buttonLarge();
    @include flexCenter();
    width: 20rem;
    background-color: green;
    color: white;
    z-index: 4;
    margin-bottom: 10rem;
  }
}
/* Job categories end */

/* Job offers start */
/* job offers top section start */
.job-offers-section {
  .container {
    position: relative;
  }
  .top-section {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 13rem;
    width: 100%;
    width: 100%;
    display: flex;
    .top-both-sections {
      width: 50%;
      height: 100%;
      border-radius: 1rem;
      @include flexCenter();
      justify-content: space-between;
      align-items: flex-end;
      position: relative;
      img {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
      }
      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 45%;
        margin-left: 3rem;
        z-index: 1;
        .divider {
          height: 50%;
        }
        .divider-top {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-top: 2rem;
          p {
            margin-top: 1rem;
            color: var(--color-grey);
          }
        }
        .divider-bottom {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          padding-bottom: 2rem;
        }
      }
    }
    .top-left-section {
      border-radius: 1rem 0 0 1rem;
      box-shadow: var(--hover-shadow);
      pointer-events: none;
      background-color: rgb(253, 249, 208);
      .text {
        .divider-bottom {
          border-bottom: 4px solid var(--color-dark-orange);
        }
        .divider-bottom {
          h4 {
            color: var(--color-dark-orange);
          }
        }
      }
    }
    .top-right-section {
      border-radius: 0 1rem 1rem 0;
      background-color: black;
      .divider-top {
        h2 {
          color: white;
        }
      }
      cursor: pointer;
      .text {
        .divider-bottom {
          border-bottom: 4px solid transparent;
          h4 {
            color: var(--color-light-orange);
          }
        }
      }
    }
  }
}
/* job offer top section end */

/* job offer bottom section start */
.job-offers-section {
  .sign-up-employee {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 9rem;
    margin-bottom: 2rem;
    a {
      font-size: 0.9rem;
      color: var(--color-grey);
    }
    .icon {
      margin-right: 0.5rem;
    }
  }
  .advertisements-list {
    position: relative;
    width: 100%;
    .triangle-top {
      position: absolute;
      top: -19px;
      height: 0px;
      width: 0px;
      border-color: rgb(255, 255, 255) transparent;
      border-style: solid;
      border-width: 0px 20px 20px 20px;
      background-color: transparent;
      margin-left: 4rem;
    }
    .advertisement {
      position: relative;
      width: 100%;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem 2rem;
      margin-bottom: 0.2rem;
      overflow: hidden;
      .button {
        @include flexCenter();
        height: 2rem;
        width: 8rem;
        border-radius: 0.3rem;
        color: white;
        margin-left: 2rem;
        font-size: 0.8rem;
      }
      .flex {
        display: flex;
        margin: 0.3rem 0;
        align-items: center;
        justify-content: space-between;
        .job-title {
          @include flexCenter();
          justify-content: flex-start;
        }
      }
      .flex-bottom {
        justify-content: space-between;
        font-size: 1rem;
        .wishlist-button {
          color: var(--color-grey);
          display: none;
          cursor: pointer;
          margin-right: 1rem;
        }
        .advertisement-stats {
          @include flexCenter();
        }
        .advertisement-category {
          color: var(--color-light-orange);
          cursor: pointer;
        }
        .time-posted {
          color: var(--color-grey);
        }
        .location {
          cursor: pointer;
        }
        .time-posted {
          margin-left: 3rem;
          margin-right: 0.4rem;
        }
      }
      .flex-top {
        img {
          cursor: pointer;
        }
      }
      .logo-company {
        width: 8rem;
      }
      .triangle-corner {
        position: absolute;
        top: 0px;
        left: 0px;
        border-color: rgb(255, 0, 0) transparent;
        width: 0;
        height: 0;
        border-top: 60px solid var(--color-light-orange);
        border-right: 60px solid transparent;
        .bolt-icon {
          position: absolute;
          top: -2.9rem;
          left: 0.8rem;
          color: white;
        }
      }
    }
    .advertisement-corner {
      border-radius: 1rem 1rem 0 0;
    }
  }
}
//Job offer bottom section end

//Job listings and email start
.job-offers-section {
  .job-listings-email {
    @include flexCenter();
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 6rem;
    .load-more-listings {
      a {
        color: green;
        text-decoration: underline;
      }
      .icon {
        font-size: 0.7rem;
        margin-left: 0.5rem;
      }
    }
    .email-me {
      @include flexCenter();
      height: 2.5rem;
      padding: 0 2.5rem;
      border-radius: 1.2rem;
      color: white;
      background-color: green;
      a {
        color: var(--color-grey);
      }
    }
  }
}
/* Job listings and email end */

/* App Store and Google Play start */
.job-offers-section {
  .bottom-mobile {
    display: flex;
    justify-content: space-between;
    .width50 {
      width: 40%;
    }
    .mobile-phone {
      position: relative;
      .website-logo {
        position: absolute;
        top: 50%;
        left: 0;
        border-radius: 0.7rem;
      }
      .phone-image {
        margin-left: 17%;
        width: 100%;
      }
      .download-app {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
      .download-app {
        .text {
          display: flex;
          flex-direction: column;
        }
      }
    }
    .download-app {
      p {
        color: var(--color-grey);
        margin-top: 1rem;
      }
      .app-store-buttons {
        display: flex;
        .app-store-button {
          background-color: transparent;
          width: 8rem;
          height: 2.5rem;
          border-radius: 1.2rem;
          margin-top: 2rem;
          overflow: hidden;
          a {
            @include flexCenter();
          }
          img {
            width: 100%;
          }
        }
        .app-store {
          margin-right: 1rem;
        }
      }
    }
  }
}
/* App Store and Google Play end */
/* Job offers end */

/* Testimonial start */
.testimonials-section {
  background-color: var(--color-background-white);
  .text-candidates {
    margin-top: 5rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      margin-bottom: 0.5rem;
    }
  }
  .testimonial-carousel {
    @include flexCenter();
    flex-direction: column;
    margin-bottom: 4rem;
    width: 100%;
    .testimonials {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .testimonial {
        @include flexCenter();
        position: relative;
        width: 32%;
        height: 15rem;
        background-color: var(--color-background-sand);
        padding: 0 2rem;
        border-radius: 0.6rem;
        .author-image {
          position: absolute;
          width: 4rem;
          height: 4rem;
          border-radius: 2rem;
          overflow: hidden;
          top: -1.5rem;
          left: 2rem;
          img {
            width: 100%;
          }
        }
        .testimonial-text {
          margin-top: 3rem;
          margin-bottom: 1rem;
          display: flex;
          flex-direction: column;
          p {
            text-align: justify;
          }
          .bottom-text {
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            .profession {
              font-size: 0.9rem;
            }
            .quotation-mark {
              font-size: 2rem;
              color: rgb(138, 133, 129);
              opacity: 0.2;
            }
          }
        }
      }
    }
    .carousel-slider {
      @include flexCenter();
      justify-content: space-between;
      width: 9rem;
      margin-top: 4rem;
      .dot {
        width: 1rem;
        height: 1rem;
        background-color: var(--color-grey);
        border-radius: 0.5rem;
      }
      .dot1 {
        transform: scale(0.4);
      }
      .dot2 {
        transform: scale(0.6);
      }
      .dot3 {
        transform: scale(0.8);
      }
      .dot4 {
        background-color: var(--color-light-orange);
      }
    }
  }
}
/* Testimonials end */

/* Get started start */
.get-started-section {
  @include flexCenter();
  background-image: linear-gradient(to right, rgb(61, 131, 189), rgb(32, 134, 92));
  .get-started-content {
    @include flexCenter();
    padding: 2.5rem 0;
    width: 100%;
    color: white;
    .get-started-text {
      p {
        color: white;
        margin-top: 0.6rem;
      }
    }
    .sign-up-button {
      @include buttonLarge();
      border: 1px solid white;
      color: white;
      margin-left: 2rem;
      .user-icon {
        margin-right: 0.5rem;
      }
    }
  }
}
/* Get startted end */

/* Blog section start */
.blog-section {
  .blog-top-section-text {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    p,
    h1 {
      margin-top: 1rem;
      text-align: center;
    }
  }
  .blog-articles-carousel {
    position: relative;
    margin: 2.5rem 0;
    width: 100%;
    .blog-articles {
      display: flex;
      justify-content: space-between;
      transition: 0.5s ease;
      .blog-article {
        position: relative;
        width: 32%;
        height: 100%;
        border-radius: 0.5rem;
        .blog-article-picture-area {
          .blog-article-picture {
            width: 100%;
          }
        }
        .blog-article-cathegory {
          position: absolute;
          top: 0%;
          left: 0%;
          margin-left: 1rem;
          margin-top: 1rem;
          font-weight: 400;
          color: white;
          background-color: rgba(0, 0, 0, 0.2);
          padding: 0.5rem 1.2rem;
          border-radius: 1.2rem;
        }
        .blog-article-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          background-color: white;
          padding: 1rem 0;
          padding: 1rem;
          height: 8rem;
          .blog-article-name {
            text-align: center;
            margin-bottom: 1rem;
          }
          .blog-article-date {
            font-size: 0.9rem;
          }
        }
      }
    }
    .scroll-buttons {
      position: absolute;
      display: flex;
      justify-content: space-between;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 108%;
      color: var(--color-grey);
      cursor: pointer;
    }
  }
  .all-news-button {
    @include buttonLarge();
    background-color: rgb(61, 153, 189);
    margin-bottom: 3rem;
    color: white;
  }
}
/* Blog section end*/

/* Footer start */
/* Footer top start */
.footer {
  position: relative;
  overflow: hidden;
  .container {
    z-index: 2;
  }
  .background-shape {
    position: absolute;
    background-color: rgb(19, 19, 19);
    height: 100%;
    border-radius: 0 1rem 0 0;
    width: calc(100% - (var(--global-margin-left-right)) * 0.5);
    top: 0;
    left: 0;
  }
  .go-to-top-container {
    @include flexCenter();
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    width: calc(var(--global-margin-left-right) * 0.5);
  }
  .go-to-top-button {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: var(--color-grey);
    display: flex;
    align-items: center;
    .go-to-top-icon {
      margin-top: 1rem;
      font-size: 2rem;
    }
  }
  .footer-top {
    @include flexCenter();
    justify-content: space-between;
    width: 100%;
    position: relative;
    .contact-info {
      @include flexCenter();
      justify-content: space-between;
      width: 40%;
    }
    .phone-number {
      color: white;
      display: flex;
      .icon-phone {
        color: white;
        margin-right: 0.5rem;
      }
    }
    .email {
      display: flex;
      align-items: center;
      color: var(--color-light-orange);
      font-size: 0.9rem;
      .eta-symbol {
        font-size: 1.5rem;
        font-weight: 900;
        margin-right: 0.5rem;
      }
    }
    .social-media-icons {
      display: flex;
      justify-content: space-between;
      width: 10%;
      margin-right: 5rem;
      .icon {
        color: var(--color-grey);
      }
    }
    .languages-bar {
      position: absolute;
      top: 0.5rem;
      right: 0;
      .language-icons {
        background-color: rgb(19, 19, 19);
      }
    }
  }
}
/* Footer top end */

/* Footer middle start */
.footer {
  .footer-middle {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
    .footer-headers {
      color: white;
      margin-bottom: 1.5rem;
    }
    .about-us {
      display: flex;
      flex-direction: column;
      width: 30%;
      align-items: flex-start;
    }
    .read-more-button {
      margin-top: 2rem;
      color: white;
      text-decoration: underline;
      display: flex;
      align-items: center;
      .read-more-button-icon {
        margin-left: 0.5rem;
        font-size: 0.7rem;
      }
    }
    .for-candidates,
    .for-employers {
      list-style-type: circle;
      color: white;
    }
    .list {
      list-style-type: disc;
      color: var(--color-grey);
      .list-item {
        margin-bottom: 0.5rem;
      }
    }
    .newsletter {
      width: 19%;
      .email-submit {
        display: flex;
        height: 2.5rem;
        margin-top: 1.5rem;
        .email-submit-text {
          border: 1px solid white;
          border-radius: 0.2rem 0 0 0.2rem;
          width: 80%;
        }
        .email-submit-button {
          background-color: rgb(47, 190, 47);
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          cursor: pointer;
          border-radius: 0 0.2rem 0.2rem 0;
        }
      }
    }
  }
}
/* Footer middle end */

/* Footer bottom start */
.footer {
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-top: 1px solid var(--color-grey);
    .navbar-categories {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      margin-right: 1rem;
      .navbar-category {
        display: flex;
        align-items: center;
        color: white;
        height: 100%;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        margin-right: 1.5rem;
      }
    }
    .copyright-section {
      @include flexCenter();
      font-size: 0.8rem;
      color: var(--color-grey);
      .color-text {
        color: var(--color-light-orange);
        margin-left: 0.5rem;
      }
    }
  }
}
/* Footer bottom end */
/* Footer end */

/*Button actions start */
#btn-search-candidate.search-right-active {
  background-color: white;
  color: black;
  border-top: 2px solid var(--color-dark-orange);
  cursor: default;
  pointer-events: none;
}

#btn-search-job.search-left-active {
  background-color: var(--color-dark-orange);
  color: white;
  border-top: none;
  cursor: pointer;
  pointer-events: visible;
}

#top-left-section.offers-right-active {
  background-color: black;
  box-shadow: none;
  pointer-events: visible;
  cursor: pointer;
  h2 {
    color: white;
  }
  .text .divider-bottom {
    border-bottom: 4px solid transparent;
  }
}

#top-right-section.offers-left-active {
  background-color: rgb(253, 249, 208);

  box-shadow: var(--hover-shadow);
  color: black;
  pointer-events: none;
  h2 {
    color: black;
  }
  .text .divider-bottom {
    border-bottom: 4px solid var(--color-dark-orange);
  }
}
//Button actions end

@media only screen and (min-width: 1025px) {
  .header {
    .navbar {
      .navbar-categories {
        .navbar-category:hover {
          border: none;
          border-top: 4px solid white;
          color: white;
        }
      }
    }
  }

  .menu-account {
    .contact-info {
      .call-us:hover {
        background-color: white;
        color: black;
      }
    }
    .control-account {
      .button-signup:hover {
        background-color: var(--color-dark-orange);
        color: black;
      }
    }
  }

  .job-board {
    .job-board-help {
      .button-how-it-works:hover {
        background-color: transparent;
        background-color: white;
        color: black;
      }
    }
  }

  .search-bar {
    .search-settings-box {
      .search-settings {
        .search-input {
          .input-specialization:hover {
            .specialization-list {
              visibility: visible;
              .specialization:hover {
                color: var(--color-light-orange);
              }
            }
          }
          .input-location:hover {
            .location-list {
              visibility: visible;
              .location:hover {
                color: var(--color-light-orange);
              }
            }
          }
        }
      }
    }
  }

  .job-categories-section {
    .job-categories {
      .job-category:hover {
        color: var(--color-dark-orange);
        box-shadow: var(--hover-shadow);
        z-index: 1;
        transform: scale(1.05);
        .icon {
          color: var(--color-dark-orange);
        }
        .icon-hover {
          color: black;
          display: block;
        }
      }
    }
    .button-browse:hover {
      border: 1px solid green;
      color: green;
      background-color: transparent;
    }
  }

  .job-offers-section {
    .sign-up-employee {
      a:hover {
        color: var(--color-dark-orange);
      }
    }
    .advertisements-list {
      .advertisement:hover {
        transform: scale(1.01);
        z-index: 1;
        box-shadow: var(--hover-shadow);
        .flex-top {
          .job-title {
            h2 {
              color: var(--color-light-orange);
              cursor: pointer;
            }
          }
        }
        .flex-bottom {
          .wishlist-button {
            display: block;
          }
          .wishlist-button:hover {
            color: var(--color-dark-orange);
          }
        }
      }
    }
    .job-listings-email {
      .email-me:hover {
        background-color: white;
        color: green;
      }
    }
    .bottom-mobile {
      .download-app {
        .app-store-button:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  .testimonials-section {
    .testimonial-carousel {
      .testimonials {
        .testimonial:hover {
          transform: scale(1.03);
          box-shadow: var(--hover-shadow);
        }
      }
    }
  }

  .get-started-section {
    .get-started-content {
      .sign-up-button:hover {
        background-color: white;
        color: rgb(32, 134, 92);
      }
    }
  }

  .blog-section {
    .blog-articles-carousel {
      .blog-articles {
        .blog-article:hover {
          box-shadow: var(--hover-shadow);
          transform: scale(1.03);
          cursor: pointer;
          .blog-article-text {
            .blog-article-name {
              color: var(--color-light-orange);
            }
          }
        }
      }
      .scroll-buttons {
        .scroll-button:hover {
          color: var(--color-light-orange);
        }
      }
    }
    .all-news-button:hover {
      background-color: transparent;
      border: 1px solid rgb(61, 153, 189);
      color: rgb(61, 153, 189);
    }
  }

  .footer {
    .footer-middle {
      .for-candidates {
        .list {
          .list-item:hover {
            color: var(--color-light-orange);
            cursor: pointer;
          }
        }
      }
    }
    .footer-bottom {
      .navbar-categories {
        .navbar-category:hover {
          border-top: 4px solid var(--color-light-orange);
          color: var(--color-light-orange);
        }
      }
    }
  }
}

//Media query start---------------------------------------------------------------
@media only screen and (max-width: 1650px) {
  * {
    --global-margin-left-right: 15%;
  }

  .menu-account {
    width: 35%;
    justify-content: space-between;
    .control-account {
      width: 60%;
    }
    .contact-info {
      @include flexCenter();
      flex-direction: column;
      width: 40%;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .header {
    .navbar {
      .navbar-categories {
        width: 45%;
      }
    }
  }

  .menu-account {
    .control-account {
      width: 80%;
    }
    .contact-info {
      .call-us {
        display: block;
        @include flexCenter();
        background-color: var(--color-dark-orange);
        color: white;
        padding: 0.5rem 1rem;
        height: 2rem;
        border-radius: 1rem;
        cursor: pointer;
      }
      .phone-number,
      .work-time {
        display: none;
      }
    }
  }

  .job-categories-section {
    .job-categories {
      .job-category {
        .icon-hover {
          font-size: 12vw;
        }
      }
    }
  }

  .job-offers-section {
    .advertisements-list {
      .advertisement {
        .button {
          margin-left: 1rem;
          width: 6rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  * {
    --global-margin-left-right: 10%;
  }

  .sidebar {
    width: calc(var(--global-margin-left-right) * 0.5);
  }

  .header {
    .header-background {
      width: 95%;
    }
    .navbar {
      .navbar-categories {
        width: 50%;
      }
    }
  }

  .menu-account {
    width: 30%;
    .control-account {
      width: 100%;
      justify-content: space-around;
    }
    .contact-info {
      width: 0%;
      .call-us {
        display: none;
      }
    }
  }

  .job-offers-section {
    .top-section {
      height: 12rem;
      .top-both-sections {
        .text {
          margin-left: 2rem;
          width: 60%;
        }
      }
    }
    .advertisements-list {
      .advertisement {
        .button {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  * {
    --global-margin-left-right: 3rem;
  }

  .sidebar {
    padding: 0.5rem 0;
    width: var(--global-margin-left-right);
    .social-media {
      .social-media-icons {
        .icon {
          font-size: 1.5rem;
        }
      }
    }
  }

  .header {
    .header-background {
      border-bottom-left-radius: 0rem;
      width: 100%;
      .background-container {
        height: 56rem;
      }
    }
    .navbar {
      position: relative;
      z-index: 3;
      .navbar-categories {
        @include flexCenter();
        flex-direction: column;
        position: absolute;
        top: 4rem;
        left: 0rem;
        width: 9rem;
        border-radius: 0.7rem;
        height: 15rem;
        overflow: hidden;
        display: none;
        .navbar-category {
          background-color: rgb(37, 37, 37);
          color: var(--color-light-orange);
          width: 100%;
          height: 3rem;
        }
      }
      .menu-account {
        width: 40%;
      }
    }
  }

  .navbar-control {
    @include flexCenter();
    justify-content: flex-start;
    .burger-icon {
      margin-left: 0.5rem;
      display: block;
      cursor: pointer;
      .line {
        height: 0.3rem;
        width: 2rem;
        background-color: black;
        margin: 0.3rem 0;
        transition: all 0.3s ease;
        border-radius: 0.2rem;
      }
    }
  }

  .search-bar {
    margin-top: 15rem;
    .search-bar-top {
      .suggestions {
        margin-left: 1rem;
      }
    }
    .search-settings-box {
      padding: 1rem 0;
      .search-settings {
        .search-sidenotes {
          display: none;
        }
      }
    }
  }

  .job-offers-section {
    .bottom-mobile {
      .mobile-phone {
        width: 50%;
      }
    }
  }

  .footer {
    .background-shape {
      border-radius: 0rem;
      width: 100%;
    }
    .go-to-top-button {
      display: none;
    }
    .footer-top {
      .contact-info {
        flex-direction: column;
      }
      .social-media-icons {
        width: 17%;
        margin-right: 5rem;
        .icon {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .header {
    .header-background {
      .background-container {
        height: 57.5rem;
      }
    }
  }

  .sidebar {
    height: 28rem;
    .social-media {
      .social-media-icons {
        .icon {
          font-size: 1.5rem;
        }
      }
    }
  }

  .search-bar {
    margin-top: 12rem;
    .search-settings-box {
      .search-settings {
        width: 95%;
        .search-input {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          .input-keywords {
            width: 100%;
            margin: 0;
            .text-field-label {
              display: none;
            }
          }
          .input-specialization-section {
            margin: 0;
            margin-top: 0.2rem;
            width: 100%;
            .input-specialization {
              width: 100%;
            }
            .search-specialization-sidenote {
              display: none;
            }
          }

          .input-location {
            width: 100%;
            margin: 0;
            margin-top: 0.2rem;
          }
          .search-button {
            border-radius: 0 0 0.5rem 0.5rem;
            width: 30%;
          }
        }
      }
    }
  }

  .job-categories-section {
    .job-categories {
      height: 50rem;
      .job-category {
        width: 49.6%;
        height: 25%;
        .icon-hover {
          font-size: 22vw;
        }
      }
      .category1 {
        border-radius: 0 0 var(--category-border-radius) 0;
      }
      .category2 {
        border-radius: 0 0 0 var(--category-border-radius);
      }
      .category3 {
        border-radius: 0 var(--category-border-radius) var(--category-border-radius) 0;
      }
      .category4 {
        border-radius: var(--category-border-radius) 0 0 var(--category-border-radius);
      }
      .category5 {
        border-radius: 0 var(--category-border-radius) var(--category-border-radius) 0;
      }
      .category6 {
        border-radius: var(--category-border-radius) 0 0 var(--category-border-radius);
      }
      .category7 {
        border-radius: 0 var(--category-border-radius) 0 0;
      }
      .category8 {
        border-radius: var(--category-border-radius) 0 0 0;
      }
    }
    .button-browse {
      margin-bottom: 15rem;
    }
    .top-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 20rem;
      .top-both-sections {
        width: 100%;
        height: 50%;
        border-radius: 1rem;
        @include flexCenter();
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        .text {
          width: 70%;
        }
        img {
          height: 100%;
        }
      }
    }
    .sign-up-employee {
      margin-top: 12rem;
    }
    .advertisements-list {
      .advertisement {
        .flex-top {
          .logo-company {
            width: 20%;
          }
        }
      }
    }
  }

  .testimonials-section {
    .testimonial-carousel {
      .testimonials {
        flex-direction: column;
        align-items: center;
        .testimonial {
          justify-content: flex-start;
          width: 80%;
          height: 10rem;
          margin-top: 2rem;
        }
      }
    }
  }

  .blog-section {
    .blog-top-section-text {
      margin-top: 1rem;
    }
    .blog-articles-carousel {
      margin-bottom: 0rem;
      .blog-articles {
        flex-direction: column;
        align-items: center;
        .blog-article {
          position: relative;
          width: 80%;
          height: 100%;
          border-radius: 0.5rem;
          margin-bottom: 2rem;
          .blog-article-picture-area {
            overflow: hidden;
            height: 15rem;
            @include flexCenter();
            .blog-article-picture {
              width: 100%;
            }
          }
          .blog-article-text {
            height: 6rem;
          }
        }
      }
    }
  }

  .footer {
    .footer-top {
      .social-media-icons {
        width: 20%;
        margin-right: 5rem;
        .icon {
          font-size: 1.3rem;
        }
      }
    }
    .footer-middle {
      flex-wrap: wrap;
      justify-content: space-around;
      .column {
        margin-top: 1rem;
        width: 40%;
      }
    }
    .footer-bottom {
      .navbar-categories {
        .navbar-category {
          margin-right: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  * {
    --global-margin-left-right: 1rem;
  }

  .header {
    .navbar {
      width: calc(100% - 3rem);
      margin-left: 3rem;
      .menu-account {
        width: 50%;
        .control-account {
          width: 100%;
          justify-content: space-between;
        }
      }
    }
  }

  .welcome-senction {
    .container {
      width: calc(100% - 6rem);
    }
  }

  .sidebar {
    width: 3rem;
  }

  .search-bar {
    .search-bar-top {
      .suggestions {
        display: none;
      }
    }
  }

  .job-offers-section {
    .advertisements-list {
      .advertisement {
        padding: 2rem 1rem;
        .flex-bottom {
          .time-posted {
            margin-left: 2rem;
          }
        }
      }
    }
    .bottom-mobile {
      .mobile-phone {
        .phone-image {
          margin-left: 5%;
          width: 110%;
        }
        .download-app {
          .app-store-buttons {
            flex-direction: column;
            align-items: center;
            width: 100%;
            .app-store-button {
              margin: 0;
              margin-top: 0.2rem;
            }
          }
        }
      }
    }
  }

  .get-started-section {
    .get-started-content {
      flex-direction: column;
      align-items: center;
      padding: 2rem 0;
      .sign-up-button {
        margin-left: 0;
      }
      .get-started-text {
        width: 90%;
        h2 {
          text-align: center;
        }
      }
      .sign-up-button {
        margin-top: 1rem;
      }
    }
  }

  .footer {
    .footer-top {
      flex-wrap: wrap;
      justify-content: center;
      .website-logo {
        margin: 0 20%;
      }
      .contact-info {
        margin-top: 1rem;
        width: 50%;
      }
      .social-media-icons {
        margin-top: 1rem;
        width: 25%;
      }
    }
    .footer-bottom {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0.5rem;
      .navbar-categories {
        width: 100%;
        justify-content: space-between;
        margin: 0;
        .navbar-category {
          margin: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  .header {
    .header-background {
      .background-container {
        height: 43rem;
      }
    }
    .navbar {
      .menu-account {
        width: 40%;
        .control-account {
          flex-direction: column;
          .button-account {
            display: none;
          }
        }
      }
    }
  }

  .sidebar {
    .social-media {
      display: none;
    }
  }

  .job-board {
    margin-top: 4rem;
    h1 {
      font-size: 2.7rem;
      line-height: 2.5rem;
      letter-spacing: 0.1rem;
    }
    h2 {
      font-size: 1.7rem;
      margin-top: 1rem;
    }
    .job-board-help {
      .button-how-it-works {
        padding: 0.9rem 1.5rem;
      }
    }
    .search-bar {
      margin-top: 8rem;

      .search-bar-top {
        width: 100%;
        .search-categories {
          width: 100%;
          .search-job,
          .search-candidate {
            width: 100%;
            margin-right: 0.2rem;
          }
        }
      }
    }
  }

  .category-browsing-header {
    margin: 3rem 0;
    h1 {
      width: 90%;
    }
    p {
      text-align: center;
    }
  }

  .job-categories-section {
    .button-browse {
      width: 15rem;
    }
    .job-categories {
      .job-category {
        width: 49.2%;
        .icon-hover {
          font-size: 30vw;
        }
      }
    }
  }

  .job-offers-section {
    .top-section {
      height: 25rem;
      .top-both-sections {
        img {
          height: 80%;
        }
      }
    }
    .advertisements-list {
      .advertisement {
        padding: 2rem 1.3rem;
        .triangle-corner {
          border-top: 40px solid var(--color-light-orange);
          border-right: 40px solid transparent;
          .bolt-icon {
            top: -2.2rem;
            left: 0.5rem;
          }
        }
        .flex-top {
          .job-title h2 {
            font-size: 1.2rem;
          }
          .logo-company {
            width: 30%;
            display: none;
          }
        }
        .flex-bottom {
          .advertisement-stats {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
          .time-posted {
            display: none;
          }
        }
      }
    }
    .sign-up-employee {
      margin-top: 15rem;
    }
    .bottom-mobile {
      flex-direction: column;
      position: relative;
      .mobile-phone {
        order: 2;
        .download-app {
          p {
            display: none;
          }
          .text {
            display: none;
            width: 100%;
            h2 {
              font-size: 1.3rem;
              text-align: center;
              width: 100%;
            }
          }
          .app-store-buttons {
            position: absolute;
            top: 0;
            right: 0;
            width: 40%;
            height: 6rem;
            margin-top: 2.5rem;
            justify-content: space-between;
          }
        }
      }
    }
    .job-listings-email {
      flex-direction: column;
      align-items: center;
      margin: 2rem 0;
      .load-more-listings {
        margin-bottom: 2rem;
      }
    }
  }

  .testimonials-section {
    .text-candidates {
      margin-top: 3rem;
      margin-bottom: 2rem;
      h1 {
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
    .testimonial-carousel {
      margin-bottom: 2rem;
      .testimonials {
        .testimonial {
          height: 13rem;
          width: 100%;
          padding: 0 1rem;
          margin-bottom: 1rem;
        }
      }
      .testimonial-carousel {
        .carousel-slider {
          margin-top: 1rem;
        }
      }
    }
  }

  .blog-section {
    .blog-articles-carousel {
      margin-bottom: 0rem;
      .blog-articles {
        .blog-article {
          width: 100%;
          .blog-article-picture-area {
            height: 14rem;
          }
        }
      }
      .scroll-buttons {
        display: none;
      }
    }
  }

  .footer {
    .footer-top {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
      .social-media-icons {
        margin: 0;
        margin-top: 1rem;
        width: 50%;
        margin-bottom: 0rem;
      }
    }
    .footer-middle {
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
      .column {
        width: 90%;
      }
      .about-us {
        .read-more-button {
          margin: 1rem 0rem;
        }
        .about-us-text {
          margin-bottom: 0rem;
        }
      }
    }
    .footer-bottom {
      height: 9rem;
      .navbar-categories {
        flex-wrap: wrap;
        justify-content: center;
        .navbar-category {
          width: 30%;
          height: 4rem;
          @include flexCenter();
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .header {
    .header-background {
      .background-container {
        height: 42rem;
      }
    }
  }

  .job-board {
    h1 {
      font-size: 2.3rem;
      line-height: 2.5rem;
    }
    h2 {
      font-size: 1.6rem;
      margin-top: 1rem;
    }
  }

  .footer {
    .footer-bottom {
      height: auto;
      .navbar-categories {
        .navbar-category {
          width: 35%;
          height: 2rem;
          padding: 1rem 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .header {
    .header-background {
      .background-container {
        height: 48rem;
      }
    }
  }

  .menu-account {
    .control-account {
      .button-signup {
        width: 5rem;
        padding-left: 0;
        padding-right: 0;
        margin-right: 2rem;
      }
    }
  }

  .job-board {
    .job-board-help {
      .button-how-it-works {
        padding: 1rem 0.5rem;
      }
    }
  }

  .job-categories-section {
    .job-categories {
      .job-category {
        width: 49%;
      }
    }
  }
}
//Media query end-------------------------------------------------------

//script events start
.nav-active {
  opacity: 1 !important;
  display: block !important;
}

.toggle .line1 {
  transform: rotate(45deg) translate(8px, 6px);
  .line2 {
    opacity: 0;
    .line3 {
      transform: rotate(-45deg) translate(8px, -6px);
    }
  }
}
//script events end
